@{
    
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Infraestrutura</title>
    <link href="~/css/layout.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="~/js/layout.js"></script>
</head>

<body>
     <div class="navbar">
        <button style="cursor: pointer;" onclick="openNav()">&#9776;</button>
        <a href="https://github.com/re-coffee/Erebor" target="_blank" class="fa fa-github" style="font-size: 25px;"></a>
    </div>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="cardmenu">
            <table style="vertical-align: top;">
                <tr>
                    <td style="width: 50%; height: 100px;">
                        <img src="~/Imagens/robo.png" style="height: 100%; padding-left: 20px; margin-right: 15px;" />
                    </td>
                    <td>
                        <h3 style="color: white; margin-bottom: 2px; margin-top: 0px;">Bem vindo,</h3>
                        @*<h4 style="color: white; margin-top: 2px;">@Html.Raw(Session["Login"])</h4>*@
                    </td>
                </tr>
            </table>
        </div>

        <a href="~/Inicio/Index" class="menuLista">Início</a>
        @*@Html.Raw(Session["Menu"])*@
        <a href="~/Login/Logout" class="menuLista"><i class="fa fa-sign-out"></i> Sair</a>
        <div style="position: absolute; bottom: 60px; right: 20px; color: white; font-size: 10px; margin-top: 10px;">
            <img src="~/Imagens/logo-footer.png" style="height: 40px;"/><br />
            Copyright © 2022 Apdata do Brasil Software Ltda
            <br />Todos os Direitos Reservados

        </div>
    </div>

    <div id="main">
        @RenderBody()
    </div>
    
</body>
</html>